@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font: inherit; */
}

/* Hero Section */
.hero-section {
    background-color: #e9ecef;
    /* padding: 100px 0; */
    /* text-align: center; */
}
.backgorund {
    background-image: url('../img/bg-barber.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    color: #fff;
    text-align: center;
    gap: 2em;
}

.backgorund h1 {
    font-size: 3rem;
    font-weight: 700;
}

.hero-section .left .services-title {
    font-size: 3rem;
    font-weight: 700;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    font-size: 1rem;
}

.card {
    width: 200px;
    height: 180px;
    margin: 10px;
}

.right .card p {
    font-size: 0.8rem !important;
    overflow: scroll;
    scrollbar-width: none;
}

.pic-wrap {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.product-card {
    background-color: #2c2c2c;
    color: white;
    border-radius: 15px;
    padding: 20px;
    height: 250px;
    width: 250px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.product-card img {
    max-width: 80%;
    height: 110px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.product-card img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.col .product-card p {
    font-size: 0.95rem !important;
    scrollbar-width: none;
    height: 50px; /* Sesuaikan tinggi yang diinginkan */
    overflow-y: auto;
    word-break: break-word;
}
/* Hero Section End */


.works-container {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 20px 0;
    scroll-behavior: smooth;
}
.works-container::-webkit-scrollbar {
    display: none;
}
.work-item {
    flex: 0 0 auto;
    width: 210px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}
.work-item:hover {
    transform: scale(1.05);
}
.work-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    z-index: 10;
}
.scroll-btn-left {
    left: 0;
}
.scroll-btn-right {
    right: 0;
}
.gallery-container {
    position: relative;
}